/* primary text color: #757575;*/
/* secondary text color: #212121;*/
/* accent color : #2196F3;*/
/* primary bg color: #FFFFFF; */
/* secondary bg color: #2F303A; */
/* accent bg color: #F5F4FA; */

:root {
    --primary-text-color: #757575;
    --secondary-black-text-color: #212121;
    --secondary-white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --footer-contact-text-color: #FFFFFF99;

    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --accent-bg-color: #F5F4FA;
}

/*body primary text color */
body { color: var(--primary-text-color);
}

/* list styles reset */
.list { 
    list-style: none;
}

/*logo header*/
.logo { color: var(--accent-text-color);
}

.logo .logo-header { color: var(--secondary-black-text-color);
}

/* site-nav */
/* site-nav-links */
.site-nav .site-nav-link { 
    color: var(--secondary-black-text-color);
}

/* site-nav-links active and hover */
.site-nav .site-nav-link:hover,
.site-nav .site-nav-link:focus {
    color: var(--accent-text-color);
}

/* nav-contacts */
/* nav-contacts-links */
.nav-contacts .nav-contacts-link {
    color: var(--primary-text-color);
}

/* nav-contacts-links active and hover */
.nav-contacts .nav-contacts-link:hover,
.nav-contacts .nav-contacts-link:focus {
    color: var(--accent-text-color);
}

/* footer section */
/* footer section bg color */

.footer {
    background-color: var(--secondary-bg-color);
}

/* logo fooger */
.logo .footer-logo {
    color: var(--secondary-white-text-color);
}

/* footer contacts address*/
.footer-contacts .footer-contacts-address {
    color: var(--secondary-white-text-color);
}

/* footer contacts links */
.footer-contacts .footer-contacts-link {
    color: var(--footer-contact-text-color);
}

/*footer contact links hover and focus*/
.footer-contacts .footer-contacts-link:hover,
.footer-contacts .footer-contacts-link:focus
{ 
    color: var(--accent-text-color);
}