:root {
    --primary-text-color: #757575;
    --secondary-black-text-color: #212121;
    --secondary-white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --footer-contact-text-color: #FFFFFF99;

    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --accent-bg-color: #F5F4FA;
}
/* hero section */
/* hero section background */
.hero {
    background-color: var(--secondary-bg-color);
}

/* hero section title */
.hero .hero-title {
    color: var(--secondary-white-text-color);
}

/* hero section button */
.button {
    color: var(--secondary-white-text-color);
    background-color: var(--accent-text-color);
}

/* hero section button hover and focus */
.button:hover,
.button:focus {
    background-color: var(--accent-bg-color);
    color: var(--accent-text-color);
}

/* features */
/* features titles */

/* hiding features title */
.features .features-hided-title {
    display: none;
}

.features .features-title {
    color: var(--secondary-black-text-color);
}

/* section titles */
.section-title {
    color: var(--secondary-black-text-color);
}

/* our team section */
/* our team section bg color*/
.our-team {
    background-color: var(--accent-bg-color);
}

/* our team section names */
.team-list .team-list-name {
    color: var(--secondary-black-text-color);
}

