/* primary text color: #757575;
*/
/* secondary text color: #212121;
*/
/* accent color : #2196F3;
*/
/* primary bg color: #FFFFFF; */
/* secondary bg color: #2F303A */
/* accent bg color: #F5F4FA;
 */

:root {
    --primary-text-color: #757575;
    --secondary-black-text-color: #212121;
    --secondary-white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --footer-contact-text-color: #FFFFFF99;

    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --accent-bg-color: #F5F4FA;

}

.list { 
    list-style: none;
}

.features .features-hided-title {
    display: none;
}

.logo { color: var(--accent-text-color);

}

.logo .logo-header { color: var(--secondary-black-text-color)
    
}